body{
    background-image: url(./wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    
    
}
img{
    width: 300px;
    height: 200px;
    margin: 30px;
}
header{
    color: gold;
    padding: 20px;
    font-size: 13px;
}
.f_left{
    float: left;
    width: 101px;
}
.f_right{
    float: right;
    width: 75px;
}
/*
.evo{
    float: left;
}
.sti{
    float: left;
}*/

